.footer {
    background: var(--color-preto);
}
.footer-container{
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin:auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:100px;
    align-items: center;
}
.footer-container p{
    color:var(--color-cinza-claro);
}
.footer-texto{
    font-size:1rem;
    line-height: 1.33;
    color:var(--color-cinza-claro);
}
.footer-contato li{
    font-weight: bold;
    font-size:1rem;
    line-height: 1.1;
    color:var(--color-branco);
    margin-bottom: 30px;
}
.footer-contato li a{
    color:var(--color-branco);
}
.footer-contato a:after {
    content:"";
    display:block;
    height:2px;
    width:0;
    background: var(--color-azul-escuro);
    transition: 0.3s;
    position: absolute;
}
.footer-contato a:hover:after,
.footer-contato a.ativo::after {
    width:1%;
}
.rede-social{
    display:flex;
    gap:20px;
}
@media(max-width:800px) {
    .footer-container{
        grid-template-columns: 1fr;
        gap:40px;

    }
    .footer-contato li{
        font-size:1.2rem;
    }
}
