.formacao{
    background:var(--color-preto);
    color:var(--color-branco); 

}
.formacao-container{
    max-width: 1200px;
    padding: 120px 20px;
    margin:o auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:100px;
    position:relative; 
} 
.formacao-container::after {
    content:"";
    display: block;
    width: 130px;
    height: 100px;
    background: url(../img/detalhe.svg) no-repeat center;
    position: absolute; 
    left: 20px;
    top: -50px; 
}
.formacao .subtitulo{
    color: var(--color-branco);
    max-width: 5ch;

}
.formacao-texto{
    font-size:1.5rem;
    line-height: 1.33;
    max-width: 50ch;
    margin-bottom: 60px;
    color:var(--color-cinza-medio);

}
.formacao-texto strong{
    color:var(--color-branco);

}
.faculdade-lista{
    display:flex;
    flex-wrap: wrap;
    gap:15px;
    margin-bottom: 60px;
    
}
.faculdade{
    flex:1;
    padding:20px;
    border-radius: 4px;
    display:flex;
    flex-direction: column;
    gap:10px;
    background: linear-gradient(135deg, #222222, #141414);
    transition: all 0.3s ease;
}
.faculdade:hover{
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.faculdade-tipo{
    font-size:.8rem;
    text-transform: uppercase;
    color:var(--color-cinza-medio);
    margin-bottom: 10px;
   
}
.faculdade-curso{
    flex:1;
    font-size:1.1rem;
    line-height: 1.4;
    margin-bottom: 40px;
    position:relative;

}
.faculdade-curso::before{
    content:"";
    display:block;
    width:4px;
    height:20px;
    background:linear-gradient(#6375eb, #0a29f5); 
    position:absolute;
    top:20px;
    left:-24px;

}
.faculdade-instituicao{
     font-size:1.125rem;
     color:var(--color-cinza-medio);

}
.cursos{
    margin-bottom: 60px;

}
.formacao-extra h3{
    font-size: 0.875rem;
    line-height: 1.4;
    color:var(--color-cinza-medio);
    text-transform: uppercase;
    margin-bottom: 30px;
    position:relative;
    display:inline-block;
}
.formacao-extra h3::before{
    display:block;
    content:"";
    width:24px;
    height:24px;
    background: url(../img/cursos.svg) no-repeat center center;
    position:absolute;
    left:-36px;
    top:-4px;

}
.cursos h3::before{
    background: url(../img/cursos.svg) no-repeat center center;

}
.idiomas h3::before{
    background: url(../img/idiomas.svg) no-repeat center center;

}
.formacao-extra li{
    font-size:1.125rem;
    line-height: 1.1;
    margin-bottom: 20px;
    display:flex;
    justify-content: space-between;

}
.formacao-extra span{
    color:var(--color-cinza-medio);

}
.cursos li{
    display:flex;
    justify-content: space-between;
    font-size:1.125rem;
}

@media(max-width:800px) {
    .formacao-container{
        grid-template-columns: 1fr;
        padding:60px 20px;
        gap:40px;

    }
    .formacao .subtitulo{
    color:var(--color-branco);

    }
    .formacao-texto{
        font-size:1.125rem;

    }
    .cursos h3::before{
        display:none;

    }
    .idiomas h3::before{
        display:none;
        
    }
} 